﻿@model List<CbuRetentionAlert.Web.Models.ActionModel>

@{
    
    var actions = Model.OrderByDescending(x => x.Created).ToList();
}

@foreach (var action in actions)
{
    <div class="well">
        <div class="row-fluid">
            <div class="span3">
                <strong>Action:</strong><br />@action.ActionType
            </div>
            <div class="span3">
                <strong>Date:</strong><br />@action.Created.ToString()
            </div>
            <div class="span3">
                <strong>Action By:</strong><br />@action.CreatedBy
            </div>
            <div class="span3">
                <strong>Follow-up Date:</strong><br />@(action.FollowUpDate.HasValue ? action.FollowUpDate.Value.ToString() : "N/A")
            </div>
        </div>
        <br />
        <div class="row-fluid">
            <div class="span12">
                <strong>Comments:</strong><br />
                @Html.TextArea("txtActionComment", action.Comment, new { @style="width:500px;" })
            </div>
        </div>
    </div>
    
}
