﻿@model List<CbuRetentionAlert.Web.Models.CourseModel>
@foreach (var course in Model)
{
    <tr>
        <td>@(course.Semester + " " + course.Year)
        </td>
        <td>@course.CourseNumber
        </td>
        <td>@course.Title
        </td>
        <td style="width: 80px; text-align: center;">
            @Html.ActionLink("Select", "newstep2", "alert", new { @c = course.Year + "-" + course.Semester + "-" + course.CourseNumber }, new { @class = "btn btn-primary", @onclick = "showProcessing();" })            
        </td>
    </tr>
}
