﻿@model CbuRetentionAlert.Web.ViewModels.RetentionAlertToBeSubmittedViewModel
@{
    int counter = 1;
}
@foreach (var student in Model.Students)
{
    string studentName = student.FirstName + (!string.IsNullOrEmpty(student.MiddleName) ? " " + student.MiddleName : string.Empty) + " " + student.LastName;
    
    
    <span class="badge badge-important" style="font-size: 1.4em; padding: 10px;">Retention
        Alert @counter </span><span style="font-size: 1.4em;">&nbsp;&nbsp;@studentName</span>
    <br />
    <br />
    
    
    <div class="well" style="margin-left: 20px; margin-right: -20px;">
        <div class="row" style="font-size: 1.2em;">
            <input name="studentName_@student.StudentId" type="hidden" value="@studentName" />
            <input name="studentId_@student.StudentId" type="hidden" value="@student.StudentId" />
            <input name="facultyFirstName_@student.StudentId" type="hidden" value="@Model.Instructor.FirstName" />
            <input name="facultyMiddleName_@student.StudentId" type="hidden" value="@Model.Instructor.MiddleName" />
            <input name="facultyLastName_@student.StudentId" type="hidden" value="@Model.Instructor.LastName" />
            <input name="facultyEmailName_@student.StudentId" type="hidden" value="@Model.Instructor.EmailAddress" />
            <input name="facultyId_@student.StudentId" type="hidden" value="@Model.Instructor.InstructorId" />
            <div class="span3">
                <strong>Student ID:</strong> @student.StudentId
            </div>
            <div class="span3">
                <strong>Student Name:</strong> @studentName
            </div>
            <div class="span3">
                <strong>Course Number:</strong> @(Model.Course.Semester + " " + Model.Course.Year + " " + Model.Course.CourseNumber)
            </div>
            <div class="span3">
            </div>
        </div>
        <br />
        <div class="row" style="font-size: 1.2em;">
            <div class="span3">
                <strong>Instructor ID:</strong> @Model.Instructor.InstructorId
            </div>
            <div class="span3">
                <strong>Instructor Name:</strong> @(Model.Instructor.FirstName + (!string.IsNullOrEmpty(Model.Instructor.MiddleName) ? " " + Model.Instructor.MiddleName : string.Empty) + " " + Model.Instructor.LastName + " " + Model.Instructor.Suffix)
            </div>
            <div class="span5">
                <strong>Instructor Email:</strong> @(Model.Instructor.EmailAddress)
            </div>
            <div class="span1">
            </div>
        </div>
        <hr />
        <div class="row">
            @{                    
    bool isRequired = User.IsInRole("Admin");
    string requireClass = (isRequired ? string.Empty : "required");      
            }
            <div class="span12">
                <h4 class="text-info">
                    <strong>Please complete the following information for @studentName.</strong><br />
                </h4>
                <span style="font-size: .9em;" class="text-error">* fields are required.</span>
                <table cellpadding="4" cellspacing="2">
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Last Date Attended:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtAttendDate_@student.StudentId" id="txtAttendDate_@student.StudentId" class="datepicker" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Concern about student:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select name="concern_@student.StudentId" class="required">
                                <option value="">- select -</option>
                                <option value="Not Attending">Not Attending</option>
                                <option value="Missing Assignments">Missing Assignments</option>
                                <option value="Work Submitted is Sub-par">Work Submitted is Sub-par</option>
                                <option value="No Textbook">No Textbook</option>
                                <option value="Personal Circumstances">Personal Circumstances</option>
                                <option value="Other">Other</option>
                            </select>
                            <span class="text-error">&nbsp;&nbsp;*</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Is grade salvageable?</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input class="@requireClass radio" type="radio" name="grade_@student.StudentId" value="Yes" style="position:relative; top:-4px;" />&nbsp;<span>Yes</span>&nbsp;&nbsp;<input type="radio" name="grade_@student.StudentId" value="No" style="position:relative; top:-4px;" />&nbsp;<span>No</span>
                            @if (!string.IsNullOrEmpty(requireClass))
                            {
                                <span class="text-error">&nbsp;&nbsp;*</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Comments:</strong>
                                    <br />
                                    (500 charaters max)
                                </div>
                            </div>
                        </td>
                        <td>
                            <textarea name="comments_@student.StudentId" rows="6" cols="20" class="txtComments"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Has the student contacted you for help?</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="radio" class="@requireClass radio" name="studentContact_@student.StudentId" value="Yes" style="position:relative; top:-4px;" />&nbsp;<span>Yes</span>&nbsp;&nbsp;<input type="radio" name="studentContact_@student.StudentId" value="No" style="position:relative; top:-4px;" />&nbsp;<span>No</span>
                            @if (!string.IsNullOrEmpty(requireClass))
                            {
                                <span class="text-error">&nbsp;&nbsp;*</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Have you contacted the student to discuss your concern?</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="radio" class="@requireClass radio" name="instructorContact_@student.StudentId" value="Yes" style="position:relative; top:-4px;" />&nbsp;<span>Yes</span>&nbsp;&nbsp;<input type="radio" name="instructorContact_@student.StudentId" value="No" style="position:relative; top:-4px;" />&nbsp;<span>No</span>
                            @if (!string.IsNullOrEmpty(requireClass))
                            {
                                <span class="text-error">&nbsp;&nbsp;*</span>
                            }
                        </td>
                    </tr>
                    @{
                            if (User.IsInRole("Admin"))
                            {
                        <tr>
                            <td align="right">
                                <div class="control-group">
                                    <div class="control-label">
                                        <strong>Blackboard Administratively Generated?</strong>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" name="chkBB_@student.StudentId" value="Yes" style="position:relative; top:-8px;" />
                            </td>
                        </tr>
                            }
                    }
                </table>
            </div>
        </div>
    </div>
    
                            counter++;
}
