﻿@model List<CbuRetentionAlert.Web.Models.StudentModel>

@foreach (var student in Model)
{
    <tr>
    <td style="width:40px; text-align:center;"><input type="checkbox" value="@student.StudentId" id="chkId_@student.StudentId" name="chkId_@student.StudentId" /></td>    
    <td>@student.StudentId</td>
    <td>@student.FirstName</td>
    <td>@student.MiddleName</td>
    <td>@student.LastName</td>
   
</tr>
}