﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700' rel='stylesheet'
        type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ui")
    @Scripts.Render("~/bundles/val")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>@Html.ActionLink("OPS Retention Alerts", "index", "home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav">
                            <li>@Html.ActionLink("Home", "index", "home")</li>
                           
                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Submit a New Retention Alert as Instructor", "newstep1", "alert", null, new { @onclick = "showProcessing();" })</li>
                                <li>@Html.ActionLink("Submit a New Retention Alert By Course Roster", "newbycourse", "alert", null, new { @onclick = "showProcessing();" })</li>
                                <li>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Reports&nbsp;<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Retention Alerts by Semester & Year", "session", "report") </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Submit a New Retention Alert", "newstep1", "alert", null, new { @onclick = "showProcessing();" })</li>
                            }
                        </ul>
                    }
                    <p class="navbar-text pull-right">
                        @if (Request.IsAuthenticated)
                        {
                            <text>Logged in as <strong>@User.Identity.Name</strong>! @Html.ActionLink("Log Off", "LogOff", "LogOn")</text>
                        }
                        else
                        {
                            @Html.ActionLink("Sign In", "Index", "LogOn")
                        }
                    </p>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </header>
    <div class="container">
        <input type="hidden" id="navActive" value="@ViewBag.navActive" />
        @RenderBody()
    </div>
    <footer class="footer" style="display: none;">
        <p>
            &copy; @DateTime.Now.Year, California Baptist University</p>
    </footer>
    <div id="spinner" class="spinner" style="display: none;">
        <img id="img-spinner" src="@Url.Content("~/content/images/ajax-loader.gif")" alt="Loading"/>
    </div>
    <div id="mask">
    </div>
</body>
</html>
