﻿@model CbuRetentionAlert.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "OPS Retention Alerts";
    ViewBag.navActive = 1;
}
<div class="row">
    <div class="span12">
        <h2>
            Welcome to the OPS Retention Alerts System</h2>
        
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Submit a New Retention Alert as Instructor", "newstep1", "alert", null, new { @class = "btn btn-primary btn-large", @onclick = "showProcessing();" })<span>&nbsp; &nbsp;</span>
            @Html.ActionLink("Submit a New Retention Alert By Course Roster", "newbycourse", "alert", null, new { @class = "btn btn-primary btn-large", @onclick = "showProcessing();" })
        }
        else
        {
            @Html.ActionLink("Submit a New Retention Alert", "newstep1", "alert", null, new { @class = "btn btn-primary btn-large", @onclick = "showProcessing();" })<span>&nbsp; &nbsp;</span>            
        }
        <br />
        <br />
    </div>
</div>
@if (User.IsInRole("Admin"))
{
        
       
    <div class="row">
        <div class="span12">
            @Html.DisplayFor(x => x.AdminAlerts, "AdminAlert")
        </div>
    </div>    
    <script type="text/javascript">

         $(function () {

             $(".table").dataTable({
                 "bSort": false,
                 "bSortClasses": false,
                 "bAutoWidth": false,
                 "bPaginate": true,
                 "bStateSave": true,
                 "oLanguage": {
                     "sSearch": "Filter Retention Alerts By:",
                     "sEmptyTable": "No Retention Alert records found!"
                 },
             });
         });
    </script>
}
else
{
    <div class="row">
        <div class="span12 well">
            
                    @Html.DisplayFor(x => x.Alerts, "Alert")
                
        </div>
    </div>
    <script type="text/javascript">

        $(function () {

            var aoColumns = [];

            $('.table thead th').each(function () {
                if ($(this).hasClass('no-sort')) {
                    aoColumns.push({ "bSortable": false });
                }
                else {
                    aoColumns.push(null);
                }
            });

            $(".table").dataTable({
                "oLanguage": {
                    "sSearch": "Filter Retention Alerts By:",
                    "sEmptyTable": "No Retention Alert records found!"
                },
                "aaSorting": [[0, "desc"]],
                "bPaginate": true,
                "aoColumns": aoColumns
            });
        });
    </script>
}