﻿@model List<CbuRetentionAlert.Web.Models.StudentAlertModel>
@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="no-sort">
                     <div style="float:left;">
                    <h4>
                        Retention Alerts</h4>
                        </div>
                         <div style="float:right;">
            
           @using (Html.BeginForm("index", "home"))
           {
            <form action="/" method="post">
                <div style="float:left; margin-top:4px;"><b>Semester:</b> @Html.DropDownList("semester", ViewBag.Semesters as List<SelectListItem>)</div><div style="float:left;margin-top:4px;">&nbsp;<button class="btn btn-success">Change Semester</button></div> 
            </form>
           }
        </div>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="navbar">
                        <div class="navbar-inner" style="margin-top: 8px;">
                            <div class="row-fluid" style="font-size: 1.2em; margin-left: -20px; margin-right: -20px;
                                padding: 10px;">
                                <div class="span2">
                                    <strong>Student ID:</strong><br />
                                    @item.Student.StudentId
                                </div>
                                <div class="span2">
                                    <strong>Student Name:</strong><br />@(item.Student.FirstName + (!string.IsNullOrEmpty(item.Student.MiddleName) ? " " + item.Student.MiddleName : string.Empty) + " " + item.Student.LastName)
                                </div>
                                <div class="span4">
                                    <strong>Student Email:</strong><br />
                                    <a href="mailto:@item.Student.Email">@item.Student.Email</a>
                                </div>
                                <div class="span2">
                                    <strong>Student Phone:</strong><br />@item.Student.Phone
                                </div>
                                <div class="span2">
                                    <strong>Admit Session & Year:</strong><br />@(item.Student.AdmitSemester + " " + item.Student.AdmitYear)
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var alert in item.Alerts)
                    {
                        <div class="row-fluid">
                            @{
                        string alertColorCSS = "alert alert-error-border";
                        string btnCSS = "btn btn-danger";

                        switch (alert.Status)
                        {
                            case "New":
                            case "Re-Opened":
                                btnCSS = "btn btn-danger";
                                alertColorCSS = "alert alert-error-border";
                                break;
                            case "Pending":
                                btnCSS = "btn btn-warning";
                                alertColorCSS = "alert alert-border";
                                break;
                            case "Completed":
                                btnCSS = "btn btn-success";
                                alertColorCSS = "alert alert-success-border";
                                break;
                        }
                            }
                            <div class="span11 @alertColorCSS" style="margin-left:10px; margin-right:-10px;">
                                @{                                    
                        if (alert.IsNewStudentTillDate.HasValue)
                        {
                            if (alert.IsNewStudentTillDate.Value >= DateTime.Now)
                            {
                                    <div class="row-fluid" style="margin-bottom: 8px;">
                                        <div class="span12 label label-inverse">
                                            <div style="width:100%; text-align:center; font-size:1.4em; margin-top:6px;">
                                                Admissions
                                            </div>
                                        </div>
                                    </div>
                            }
                        }
                                }
                                <div class="row-fluid">
                                    <div class="span3">
                                        <strong>Course: </strong>
                                        <br />@(alert.Course.Semester + " " + alert.Course.Year + " " + alert.Course.CourseNumber)</div>
                                    <div class="span3">
                                        <strong>Instructor: </strong>
                                        <br />@(alert.Instructor.FirstName + (!string.IsNullOrEmpty(alert.Instructor.MiddleName) ? " " + alert.Instructor.MiddleName : string.Empty) + " " + alert.Instructor.LastName)</div>
                                    <div class="span3">
                                        <strong>Instructor Email: </strong>
                                        <br />
                                        <a href="mailto:@alert.Instructor.EmailAddress">@alert.Instructor.EmailAddress</a></div>
                                    <div class="span3">
                                        <strong>Advisor: </strong>
                                        <br />@(!string.IsNullOrEmpty(alert.Advisor) ? alert.Advisor : "N/A")</div>
                                </div>
                                <div class="row-fluid" style="margin-top: 8px;">
                                    <div class="span3">
                                        <strong>Status: </strong>
                                        <br />@alert.Status</div>
                                    <div class="span3">
                                        <strong>Submitted: </strong>
                                        <br />@alert.Submitted.ToString()</div>
                                    <div class="span3">
                                        <strong>Submitted By: </strong>
                                        <br />@alert.SubmittedBy</div>
                                    <div class="span3">
                                        @if (alert.FollowUp.HasValue)
                                        {
                                            if (alert.FollowUp.Value < DateTime.Now)
                                            {
                                            <h2 class="label label-important" style="font-size: 1.2em; padding: 16px;">
                                                <i class="icon-flag"></i><strong>Follow up:</strong> @alert.FollowUp.Value.ToString()</h2>
                                            }
                                            else
                                            {
                                            <i class="icon-flag"></i> <strong>Follow up:</strong> <span>@alert.FollowUp.Value.ToString()</span>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="span1">
                                @Html.ActionLink("Manage Alert", "index", "alert", new { @id = alert.AlertId }, new { @class = btnCSS, @onclick = "showProcessing();" })
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="row">
        <div class="span12">
            <div class="well">
                <h3>
                    There are no retention alerts to display.</h3>
            </div>
        </div>
    </div>
}