﻿@model List<CbuRetentionAlert.Web.Models.AlertOnlyModel>
@{
    if (Model.Count > 0)
    {
    <h4>
        Retention Alerts</h4>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Student First Name
                </th>
                <th>
                    Student Last Name
                </th>
                <th>
                    Course
                </th>
                <th>
                    Instructor
                </th>
                <th>
                    Submitted By
                </th>
                <th>Status</th>
                <th>
                    Manage
                </th>
            </tr>
        </thead>
        <tbody>
            @{
        foreach (var alert in Model)
        {
                <tr>
                    <td>@alert.Submitted.ToString("MM/dd/yyyy hh:mm:ss tt")
                    </td>
                    <td>@alert.Student.FirstName
                    </td>
                    <td>@alert.Student.LastName
                    </td>
                    <td>@alert.Course.CourseNumber
                    </td>
                    <td>@(alert.Instructor.FirstName + " " + alert.Instructor.LastName)
                    </td>
                    <td>@alert.SubmittedBy
                    </td>
                    <td>@alert.Status</td>
                    <td>
                    @{
            string buttonClass = "btn btn-primary";
            
            switch(alert.Status)
            {
                case "New":
                case "Re-Opened":
                    buttonClass = "btn btn-danger";
                    break;
                case "Pending":
                    buttonClass = "btn btn-warning";
                    break;
                case "Completed":
                    buttonClass = "btn btn-success";
                    break;
            }
                        }
                        @Html.ActionLink("Manage Alert", "StudentAlert", "Alert", new { @Id = alert.Id }, new { @class = buttonClass })
                    </td>
                </tr>
        }
            }
        </tbody>
    </table>

    }
    else
    {
    <h3 class="muted">
        There are no retention alerts to display.</h3>
    <h3 class="text-info"> To get started, click the "Submit a New Retention Alert" button.</h3>
    }
}
