﻿@{
    ViewBag.Title = "Report - Retention Alerts By Semester";
}

<div class="row">
    <div class="span12" style="text-align: left;">       
        <h2>
            Report - Retention Alerts By Semester</h2>
    </div>  
</div>
<div class="row">
    <div class="span12">
        @using (Html.BeginForm("session", "report", FormMethod.Post, new { @name = "frmPost", @id = "frmPost" }))
        {
            <div class="well">
                <p class="text-error">
                    <span style="font-size: .8em;">* All fields are required.</span>
                </p>
                <table cellpadding="4" cellspacing="2">
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Semester:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select name="session" class="required">
                                <option value="">- select -</option>
                                <option value="SP">Spring</option>
                                <option value="SU">Summer</option>
                                <option value="FA">Fall</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Year:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            @{
            System.Collections.Generic.List<SelectListItem> years = new System.Collections.Generic.List<SelectListItem>();

            years.Add(new SelectListItem { Text = "- select -", Value = "", Selected = true });
            years.Add(new SelectListItem { Text = DateTime.Now.Year.ToString(), Value = DateTime.Now.Year.ToString(), Selected = false });
            years.Add(new SelectListItem { Text = (DateTime.Now.Year + 1).ToString(), Value = (DateTime.Now.Year + 1).ToString(), Selected = false });
                        
                            }
                            @Html.DropDownList("year", years, new { @class = "required" })
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="span12" style="text-align: right; margin-top: 10px;">
        @Html.ActionLink("Cancel", "index", "home", null, new { @class = "btn btn-large" })
        &nbsp;&nbsp;<a href="#" id="lnkSubmit" class="btn btn-primary btn-large">Download</a>
    </div>
</div>
<script type="text/javascript">
    @{
        System.Text.StringBuilder sbError = new System.Text.StringBuilder();
        if (ViewData["ErrorMessage"] != null)
        {

            sbError.Append(ViewData["ErrorMessage"]);
        }
    }

    var msgError = '@sbError.ToString()';

    
</script>
<script type="text/javascript">

    $(function () {

        $('#session').focus();

        $('#lnkSubmit').click(function () {

            //check required fields

            var isValid = true;
            var fieldToFocus = null;
            

            $('select.required').each(function () {

                if ($(this).val() == '') {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {
                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });


            if (isValid) {
                document.frmPost.submit();
            }
            else {
                $('html, body').animate({
                    scrollTop: $(fieldToFocus).offset().top - 100
                }, 750);

                setTimeout(function () {

                    $().toastmessage('showToast', { sticky: false, text: 'Please complete all the required fields, then try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                }, 500);

                return false;
            }

        });

        if (msgError != '') {
            $().toastmessage('showToast', { sticky: false, text: msgError, type: 'error', position: 'middle-center', stayTime: 7500 });
        }
    });
</script>
