﻿@model CbuRetentionAlert.Web.Models.AlertSubmittedResultsModel
@{
    ViewBag.Title = "Retention alerts submitted";
}
<div class="row">
    <div class="span12">
        <h2>
            Your retention alert(s) have been submitted. Thank you!</h2>
        @Html.ActionLink("Home", "index", "home", null, new { @class = "btn btn-default btn-large" })&nbsp;&nbsp;
       
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Submit a New Retention Alert as Instructor", "newstep1", "alert", null, new { @class = "btn btn-primary btn-large", @onclick = "showProcessing();" })<span>&nbsp; &nbsp;</span>
            @Html.ActionLink("Submit a New Retention Alert By Course Roster", "newbycourse", "alert", null, new { @class = "btn btn-primary btn-large", @onclick = "showProcessing();" })
        }
        else
        {
            @Html.ActionLink("Submit a New Retention Alert", "newstep1", "alert", null, new { @class = "btn btn-primary btn-large", @onclick = "showProcessing();" })<span>&nbsp; &nbsp;</span>
            
        }
    </div>
</div>
@{
    if (Model.Results.Count > 0)
    {
    <br />
    <div class="row">
        <div class="span12">
            <div class="well">
                @foreach (var result in Model.Results)
                {
                    if (result.Successful)
                    {
                    <p class="label label-success" style="font-size: 1.4em; padding: 10px;">
                        Retention Alert submission for @(result.StudentName + " (" + result.StudentID + ")")
                        was successful!</p>
                    }
                    else
                    {
                    <p class="label label-important" style="font-size: 1.4em; padding: 10px;">
                        Retention Alert submission for @(result.StudentName + " (" + result.StudentID + ")")
                        was not successful, please try again!</p>
                    }
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    }      
}
