﻿@model CbuRetentionAlert.Web.ViewModels.AlertViewModel
@{
    var student = Model.Alert.Student;
    var instructor = Model.Alert.Instructor;
    var actions = Model.Alert.Actions;
    var course = Model.Alert.Course;
    var alert = Model.Alert;

    string studentName = student.FirstName + (!string.IsNullOrEmpty(student.MiddleName) ? " " + student.MiddleName : string.Empty) + " " + student.LastName;
}
@{
    ViewBag.Title = "Retention Alert: " + studentName;
}
@{
    string labelCSS = "label label-important";

    switch (alert.Status)
    {
        case "New":
        case "Re-Opened":
            labelCSS = "label label-important";
            break;
        case "Pending":
            labelCSS = "label label-warning";
            break;
        case "Completed":
            labelCSS = "label label-success";
            break;
    }
}
@Html.Hidden("studentId", student.Id)
@Html.Hidden("alertId", alert.AlertId)
<div class="row">
    <div class="span4">
        <h2 class="@labelCSS" style="font-size: 1.4em; padding: 10px;">
            Retention Alert: @studentName</h2>
    </div>
    <div class="span8" style="text-align: right;">
        @Html.ActionLink("Back", "index", "home", null, new { @class = "btn btn-large" })
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    Student Details</h3>
            </div>
        </div>
        <div class="well">
            <div class="row-fluid">
                <div class="span3">
                    <strong>Student ID:</strong><br />@student.StudentId
                </div>
                <div class="span3">
                    <strong>Student Name:</strong><br />@studentName
                </div>
                <div class="span3">
                    <strong>Major:</strong><br />@student.Major
                </div>
                <div class="span3">
                    <strong>Subprogram:</strong><br />@student.SubProgram
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span3">
                    <strong>Student Email:</strong><br />
                    <a href="mailto:@student.Email">@student.Email</a>
                </div>
                <div class="span3">
                    <strong>Student Phone:</strong><br />@student.Phone
                </div>
                <div class="span5">
                    <strong>Student Other Phone:</strong><br />@Html.TextBox("txtOtherPhone", student.OtherPhone)
                </div>
                <div class="span1">
                    &nbsp;&nbsp;<a href="#" id="lnkSavePhone" class="btn btn-primary btn-large">Save</a></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    Course & Instructor Details</h3>
            </div>
        </div>
        <div class="well">
            <div class="row-fluid">
                <div class="span3">
                    <strong>Course Number:</strong><br />@(course.Semester + " " + course.Year + " " + course.CourseNumber)
                </div>
                <div class="span3">
                    <strong>Instructor ID:</strong><br />@instructor.InstructorId
                </div>
                <div class="span3">
                    <strong>Instructor Name:</strong><br />@(instructor.FirstName + (!string.IsNullOrEmpty(instructor.MiddleName) ? " " + instructor.MiddleName : string.Empty) + " " + instructor.LastName + " " + instructor.Suffix)
                </div>
                <div class="span3">
                    <strong>Instructor Email:</strong><br />
                    <a href="mailto:@instructor.EmailAddress">@instructor.EmailAddress</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    Alert Details</h3>
            </div>
        </div>
        <div class="well">
            <div class="row-fluid">
                <div class="span3">
                    @{
                        System.Collections.Generic.List<SelectListItem> advisors = new System.Collections.Generic.List<SelectListItem>();

                        advisors.Add(new SelectListItem { Text = "Not Assigned", Value = "", Selected = (!string.IsNullOrEmpty(alert.Advisor) ? true : false) });

                        foreach (var item in Model.Advisors)
                        {
                            advisors.Add(new SelectListItem { Text = item.FullName, Value = item.AdvisorId.ToString(), Selected = (alert.Advisor == item.FullName ? true : false) });
                        }
                                           
                    }
                    <strong>Advisor:</strong><br />@Html.DropDownList("ddlAdvisor", advisors)
                </div>
                <div class="span3">
                    @{
                        System.Collections.Generic.List<SelectListItem> statuses = new System.Collections.Generic.List<SelectListItem>();

                        foreach (var item in Model.Statuses)
                        {
                            statuses.Add(new SelectListItem { Text = item.Status, Value = item.StatusId.ToString(), Selected = (alert.Status == item.Status ? true : false) });
                        }
                                           
                    }
                    <strong>Status:</strong><br />@Html.DropDownList("ddlStatus", statuses, new { @disabled = "disabled" })
                </div>
                <div class="span3">
                    <strong>Submitted:</strong><br />@alert.Submitted.ToString()
                </div>
                <div class="span3">
                    <strong>Submitted By:</strong><br />@alert.SubmittedBy
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span3">
                    <strong>Last Date Attened:</strong><br />@(alert.LastDateAttended.HasValue ? alert.LastDateAttended.Value.ToString() : "N/A")
                </div>
                <div class="span3">
                    <strong>Concern about student:</strong><br />@alert.Concern
                </div>
                <div class="span3">
                    <strong>Has the student contacted you for help?</strong><br />@(alert.HasStudentRequestedHelp.HasValue ? ((alert.HasStudentRequestedHelp.Value) ? "Yes" : "No") : "N/A")
                </div>
                <div class="span3">
                    <strong>Have you contacted the student to discuss your concern?</strong><br />@(alert.HasContactedStudent.HasValue ? ((alert.HasContactedStudent.Value) ? "Yes" : "No") : "N/A")
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span3">
                    <strong>Is grade salvageable?</strong><br />@(alert.IsGradeSalvageable.HasValue ? ((alert.IsGradeSalvageable.Value) ? "Yes" : "No") : "N/A")
                </div>
                <div class="span8" style="text-align: left;">
                    <strong>Comments:</strong><br />@Html.TextArea("txtGradeComments", alert.GradeComments, new { @readonly = "readonly", @style = "width:500px;" })
                </div>
                <div class="span1">
                    &nbsp;&nbsp;<a href="#" id="lnkAlert" class="btn btn-primary btn-large">Save</a></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    New Action</h3>
            </div>
        </div>
        <div class="well">
            <div class="row-fluid">
                <div class="span3">
                    @{
                        System.Collections.Generic.List<SelectListItem> actionList = new System.Collections.Generic.List<SelectListItem>();

                        actionList.Add(new SelectListItem { Text = "- select -", Value = "", Selected = true });

                        foreach (var item in Model.Actions)
                        {
                            actionList.Add(new SelectListItem { Text = item.Action, Value = item.ActionId.ToString(), Selected = false });
                        }
                                           
                    }
                    <strong>Action:</strong><br />@Html.DropDownList("ddlAction", actionList)<br />
                    <br />
                    <div id="divFollowUpDateContainer" style="display: none;">
                        <strong>Follow-up Date/Time:</strong><br />
                        <div id="divFollowUpDate" class="input-append">
                            <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name="txtFollowUpDate" id="txtFollowUpDate"></input>
                            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="span8" style="text-align: left;">
                    <strong>Comments:</strong><br />
                    @Html.TextArea("txtActionComment", string.Empty, new { @style = "width:500px;" })
                </div>
                <div class="span1" style="text-align: right; padding-top: 30px;">
                    &nbsp;&nbsp;<a href="#" id="lnkAction" class="btn btn-primary btn-large">Save</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>
                    Action Log</h3>
            </div>
        </div>
        <div id="actionContainer">
            @Html.DisplayFor(x => x.Alert.Actions, "Action")
        </div>
    </div>
</div>
<script type="text/javascript">
    var savePhoneAction = "@Url.Content("~/ajax/savestudentphone")";
    var saveAlertAction = "@Url.Content("~/ajax/savealertdetails")";
    var saveActionAction = "@Url.Content("~/ajax/saveaction")";
    var user = "@User.Identity.Name";
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#ddlAction').change(function () {

            var actionText = $(this).find(":selected").text();

            if (actionText != 'Complete' && actionText != 'Comment') {
                $('#divFollowUpDateContainer').show();
            }
            else {
                $('#txtFollowUpDate').val('');
                $('#divFollowUpDateContainer').hide();
            }
        });

        $('#divFollowUpDate').datetimepicker({
            language: 'en', pick12HourFormat: true
        });

        $('#lnkSavePhone').click(function () {
            $.ajax({
                url: savePhoneAction,
                type: "POST",
                data: "studentId=" + $('#studentId').val() + "&phone=" + $('#txtOtherPhone').val(),
                success: function (data) {
                    if (data != '' && data == 'success') {


                        $().toastmessage('showToast', { sticky: false, text: 'Saved Successfully!', type: 'success', position: 'middle-center', stayTime: 7500 });

                    }
                    else {
                        $().toastmessage('showToast', { sticky: false, text: 'Oops, there was an error while trying to the other phone.  Please try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                    }
                }
            });

            return false;
        });

        $('#lnkAlert').click(function () {
            $.ajax({
                url: saveAlertAction,
                type: "POST",
                data: "alertId=" + $('#alertId').val() + "&advisorId=" + $('#ddlAdvisor').val(),
                success: function (data) {
                    if (data != '' && data == 'success') {


                        $().toastmessage('showToast', { sticky: false, text: 'Saved Successfully!', type: 'success', position: 'middle-center', stayTime: 7500 });

                    }
                    else {
                        $().toastmessage('showToast', { sticky: false, text: 'Oops, there was an error while trying to save the alert details.  Please try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                    }
                }
            });

            return false;
        });

        $('#lnkAction').click(function () {

            if ($('#ddlAction').find(":selected").text() != '- select -') {

                if ($('#txtActionComment').val().length <= 1000) {

                    $.ajax({
                        url: saveActionAction,
                        type: "POST",
                        data: "alertId=" + $('#alertId').val() + "&actionId=" + $('#ddlAction').val() + "&comment=" + $('#txtActionComment').val() + "&followUpDate=" + $('#txtFollowUpDate').val(),
                        success: function (data) {
                            if (data != '' && data == 'success') {

                                //add this to this list of alerts
                                var actionContainerHTML = $('#actionContainer').html();

                                var d = new Date();
                                var n = d.toLocaleDateString() + ' ' + d.toLocaleTimeString();

                                var actionText = $('#ddlAction').find(":selected").text();

                                var htmlToInsert = '<div class="well"><div class="row-fluid"><div class="span3"><strong>Action:</strong><br />' + actionText +
                                           '</div><div class="span3"><strong>Date:</strong><br />' + n + '</div><div class="span3"><strong>Action By:</strong><br />' + user +
                                           '</div><div class="span3"><strong>Follow-up Date:</strong><br />' + ($('#txtFollowUpDate').val() != '' ? $('#txtFollowUpDate').val() : "N/A") +
                                           '</div></div><br /><div class="row-fluid"><div class="span12"><strong>Comments:</strong><br /><textarea style="width:500px;">' + $('#txtActionComment').val() +
                                           '</textarea></div></div></div>';

                                $('#actionContainer').html(htmlToInsert + actionContainerHTML);

                                if (actionText == "Complete") {

                                    $('#ddlStatus').val('6');
                                } else {
                                    $('#ddlStatus').val('5');
                                }

                                //reset fields
                                $('#ddlAction>option:eq(0)').attr('selected', true);
                                $('#txtActionComment').val('');
                                $('#txtFollowUpDate').val('');
                                $('#divFollowUpDateContainer').hide();

                                $().toastmessage('showToast', { sticky: false, text: 'Action Saved Successfully!', type: 'success', position: 'middle-center', stayTime: 7500 });

                            }
                            else {
                                $().toastmessage('showToast', { sticky: false, text: 'Oops, there was an error while trying to save the action.  Please try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                            }
                        },
                        error: function (qXHR, textStatus, errorThrow) {
                            $().toastmessage('showToast', { sticky: false, text: 'Oops, there was an error while trying to save the action.  Please try again.<br /><br />' + errorThrow, type: 'warning', position: 'middle-center', stayTime: 7500 });
                        }
                    });

                }
                else {
                    $().toastmessage('showToast', { sticky: false, text: 'Oops, your comment is longer than 1,000 characters and cannot be saved.  Please try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                }
            }
            else {
                $().toastmessage('showToast', { sticky: false, text: 'Oops, please select an action and then try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
            }

            return false;
        });
    }); 
</script>
