﻿@{
    ViewBag.Title = "Submit a new retention alert";
}
<div class="row">
    <div class="span12">
        <h2>
            Use the form below to submit a new retention alert.</h2>
        @using (Html.BeginForm("new", "alert", FormMethod.Post, new { @name = "frmPost", @id = "frmPost" }))
        {
            <div class="well">
                <p class="text-info">
                    <span style="font-size: .8em;" class="text-error">* All fields are required.</span>
                </p>
                <table cellpadding="4" cellspacing="2">
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Student First Name:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtSFirstName" id="txtSFirstName" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Student Last Name:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtSLastName" id="txtSLastName" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Student ID #:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtSID" id="txtSID" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Faculty/Staff First Name:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtFFirstName" id="txtFFirstName" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Faculty/Staff Last Name:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtFLastName" id="txtFLastName" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Faculty/Staff Email:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtFEmail" id="txtFEmail" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Faculty/Staff ID #:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtFID" id="txtFID" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Course Number:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtCourse" id="txtCourse" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Course Section:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtSection" id="txtSection" class="required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Semester:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select name="ddlSemester" class="required">
                                <option value="">- select -</option>
                                <option value="SP">Spring</option>
                                <option value="SU">Summer</option>
                                <option value="FA">Fall</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Year:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            @{
            System.Collections.Generic.List<SelectListItem> years = new System.Collections.Generic.List<SelectListItem>();

            years.Add(new SelectListItem { Text = "- select -", Value = "", Selected = true });
            years.Add(new SelectListItem { Text = DateTime.Now.Year.ToString(), Value = DateTime.Now.Year.ToString(), Selected = false });
            years.Add(new SelectListItem { Text = (DateTime.Now.Year + 1).ToString(), Value = (DateTime.Now.Year + 1).ToString(), Selected = false });
                        
                            }
                            @Html.DropDownList("ddlYear", years, new { @class = "required" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Last Date Attened:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtAttendDate" id="txtAttendDat" class="datepicker required" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Concern about student:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select name="ddlConcern" class="required">
                                <option value="">- select -</option>
                                <option value="Not attending">Not attending</option>
                                <option value="Missing assignments">Missing assignments</option>
                                <option value="Work submitted is subpar">Work submitted is subpar</option>
                                <option value="No textbook">No textbook</option>
                                <option value="Personal circumstances">Personal circumstances</option>
                                <option value="Other">Other</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Is grade salvageable?</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input class="required radio" type="radio" name="grade" value="Yes" style="position: relative;
                                top: -4px;" />&nbsp;<span>Yes</span>&nbsp;&nbsp;<input type="radio" name="grade"
                                    value="No" style="position: relative; top: -4px;" />&nbsp;<span>No</span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="right">
                            <strong>Comments:</strong>
                        </td>
                        <td>
                            <textarea name="comments" rows="6" cols="20"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Has the student contacted you for help?</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="radio" class="required radio" name="studentContact" value="Yes" style="position: relative;
                                top: -4px;" />&nbsp;<span>Yes</span>&nbsp;&nbsp;<input type="radio" name="studentContact"
                                    value="No" style="position: relative; top: -4px;" />&nbsp;<span>No</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Have you contacted the student to discuss your concern?</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="radio" class="required radio" name="instructorContact" value="Yes" style="position: relative;
                                top: -4px;" />&nbsp;<span>Yes</span>&nbsp;&nbsp;<input type="radio" name="instructorContact"
                                    value="No" style="position: relative; top: -4px;" />&nbsp;<span>No</span>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="span12" style="text-align: right; margin-top: 10px;">
        @Html.ActionLink("Cancel", "index", "home", null, new { @class = "btn btn-large" })
        &nbsp;&nbsp;<a href="#" id="lnkSubmit" class="btn btn-primary btn-large">Submit</a>
    </div>
</div>
<script type="text/javascript">
    @{
        System.Text.StringBuilder sbError = new System.Text.StringBuilder();
        if (ViewData["ErrorMessage"] != null)
        {

            sbError.Append(ViewData["ErrorMessage"]);
        }
    }

    var msgError = '@sbError.ToString()';

    
</script>
<script type="text/javascript">

    $(function () {

        $('.datepicker').datepicker()

        $('#lnkSubmit').click(function () {

            //check required fields

            var isValid = true;
            var fieldToFocus = null;

            $('input[type=text].required').each(function () {

                if ($(this).val() == '') {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {

                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            $('select.required').each(function () {

                if ($(this).val() == '') {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {
                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            $('input[type=radio].required').each(function () {

                if (!$("input[name='" + $(this).attr('name') + "']:checked").val()) {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;

                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {
                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            if (isValid) {
                showProcessing();

                document.frmPost.submit();
            }
            else {
                $('html, body').animate({
                    scrollTop: $(fieldToFocus).offset().top - 100
                }, 750);

                setTimeout(function () {

                    $().toastmessage('showToast', { sticky: false, text: 'Please complete all the required fields, then try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                }, 500);

                return false;
            }

        });

        if (msgError != '') {
            $().toastmessage('showToast', { sticky: false, text: msgError, type: 'error', position: 'middle-center', stayTime: 7500 });
        }
    });
</script>
