﻿@{
    ViewBag.Title = "Step 1 - Lookup a course roster";
}
<div class="row">
    <div class="span8" style="text-align: left;">
        <span class="badge badge-info">Step 1</span>&nbsp; <span class="badge">Step 2</span>&nbsp;
        <span class="badge">Step 3</span>&nbsp;
        <h2>
            Lookup a course roster by completing the fields below.</h2>
    </div>
    <div class="span4" style="text-align: right;">
        <span class="icon-question-sign"></span>
        @Html.ActionLink("Submit an alert without looking up a course roster", "new", "alert")</div>
</div>
<div class="row">
    <div class="span12">
        @using (Html.BeginForm("newbycourse", "alert", FormMethod.Post, new { @name = "frmPost", @id = "frmPost" }))
        {
            <div class="well">
                <p class="text-info">
                    <span style="font-size: .8em;">* All fields are required.</span>
                </p>
                <table cellpadding="4" cellspacing="2">
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Course Number:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtCourse" id="txtCourse" class="required" style="text-transform:uppercase" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Section Number:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="txtSection" id="txtSection" class="required" style="text-transform:uppercase" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Semester:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select name="ddlSemester" class="required">
                                <option value="">- select -</option>
                                <option value="SP">Spring</option>
                                <option value="SU">Summer</option>
                                <option value="FA">Fall</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div class="control-group">
                                <div class="control-label">
                                    <strong>Year:</strong>
                                </div>
                            </div>
                        </td>
                        <td>
                            @{
            System.Collections.Generic.List<SelectListItem> years = new System.Collections.Generic.List<SelectListItem>();

            years.Add(new SelectListItem { Text = "- select -", Value = "", Selected = true });
            years.Add(new SelectListItem { Text = DateTime.Now.Year.ToString(), Value = DateTime.Now.Year.ToString(), Selected = false });
            years.Add(new SelectListItem { Text = (DateTime.Now.Year + 1).ToString(), Value = (DateTime.Now.Year + 1).ToString(), Selected = false });
                        
                            }
                            @Html.DropDownList("ddlYear", years, new { @class = "required" })
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="span12" style="text-align: right; margin-top: 10px;">
        @Html.ActionLink("Cancel", "index", "home", null, new { @class = "btn btn-large" })
        &nbsp;&nbsp;<a href="#" id="lnkSubmit" class="btn btn-primary btn-large">Next</a>
    </div>
</div>
<script type="text/javascript">
    @{
        System.Text.StringBuilder sbError = new System.Text.StringBuilder();
        if (ViewData["ErrorMessage"] != null)
        {

            sbError.Append(ViewData["ErrorMessage"]);
        }
    }

    var msgError = '@sbError.ToString()';

    
</script>
<script type="text/javascript">

    $(function () {

        $('#txtCourse').focus();

        $('#lnkSubmit').click(function () {

            //check required fields

            var isValid = true;
            var fieldToFocus = null;

            $('input[type=text].required').each(function () {

                if ($(this).val() == '') {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {

                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            $('select.required').each(function () {

                if ($(this).val() == '') {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {
                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });


            if (isValid) {
                showProcessing();

                document.frmPost.submit();
            }
            else {
                $('html, body').animate({
                    scrollTop: $(fieldToFocus).offset().top - 100
                }, 750);

                setTimeout(function () {

                    $().toastmessage('showToast', { sticky: false, text: 'Please complete all the required fields, then try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                }, 500);

                return false;
            }

        });

        if (msgError != '') {
            $().toastmessage('showToast', { sticky: false, text: msgError, type: 'error', position: 'middle-center', stayTime: 7500 });
        }
    });
</script>
