﻿@model CbuRetentionAlert.Web.ViewModels.NewAlertViewModel
@{
    ViewBag.Title = "Step 2 - Select a student";
}
<div class="row">
    <div class="span9">
        <span class="badge">Step 1</span>&nbsp; <span class="badge badge-info">Step 2</span>&nbsp;
        <span class="badge">Step 3</span>&nbsp;
        <h2>
            Select one or more student(s) from the students listed below.</h2>
    </div>
    <div class="span3" style="text-align: right;">
        <span class="icon-question-sign"></span>&nbsp;@Html.ActionLink("I don't see the student listed", "new", "alert")</div>
</div>
<hr />
@using (Html.BeginForm("newstep3", "alert", FormMethod.Post, new { @name = "frmPost", @id = "frmPost" }))
{
    <div class="row">
        <div class="span12">
            <span style="top: 32px; position: relative; font-size: 2.0em;">Course: @Model.CurrentCourse</span>
            <input type="hidden" value="@Model.CurrentCourse" id="course" name="course" />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 40px;" class="no-sort">
                        </th>
                        <th>
                            Student Id
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Middle Name
                        </th>
                        <th>
                            Last Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(x => x.CourseStudents, "Student")
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="span12" style="text-align: right; margin-top: 10px;">
            @Html.ActionLink("Previous Step", (!string.IsNullOrEmpty(Model.PreviousStep) ? Model.PreviousStep : "newstep1"), "alert", null, new { @class = "btn btn-large", @onclick = "showProcessing();" })&nbsp;&nbsp;<a
                href="#" id="lnkNext" class="btn btn-primary btn-large">Next</a>
        </div>
    </div>
    @Html.Hidden("p", (!string.IsNullOrEmpty(Model.PreviousStep) ? Model.PreviousStep : string.Empty))
}
<script type="text/javascript">

    $(function () {
        var aoColumns = [];

        $('.table thead th').each(function () {
            if ($(this).hasClass('no-sort')) {
                aoColumns.push({ "bSortable": false });
            }
            else {
                aoColumns.push(null);
            }
        });

        $(".table").dataTable({
            "oLanguage": {
                "sSearch": "Filter students:",
                "sEmptyTable": "No enrolled students found!"
            },
            "aaSorting": [[4, "asc"]],
            "bPaginate": false,
            "aoColumns": aoColumns
        });

        $('#lnkNext').click(function () {

            var chkCount = 0;

            $('input:checked').each(function () {
                chkCount++;
            });

            if (chkCount > 0) {

                showProcessing();

                document.frmPost.submit();
            }
            else {
                $().toastmessage('showToast', { sticky: false, text: 'Please select at least one student, then try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });

                return false;
            }
        });
    });
</script>
