﻿@model CbuRetentionAlert.Web.ViewModels.NewAlertViewModel
@{
    ViewBag.Title = "Step 1 - Select a course";
}
<div class="row">
    <div class="span9">
        <span class="badge badge-info">Step 1</span>&nbsp; <span class="badge">Step 2</span>&nbsp;
        <span class="badge">Step 3</span>&nbsp;
        <h2>
            Select a course from the courses listed below.</h2>
    </div>
    <div class="span3" style="text-align: right;">
        <span class="icon-question-sign"></span>
        @Html.ActionLink("I don't see the course listed", "new", "alert")</div>
</div>
<hr />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Semester
            </th>
            <th>
                Course Number
            </th>
            <th>
                Title
            </th>
            <th style="width: 80px;" class="no-sort">
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(x => x.Courses, "Course")
    </tbody>
</table>
<div class="row">
    <div class="span12" style="text-align: right; margin-top: 10px;">
        @Html.ActionLink("Cancel", "index", "home", null, new { @class = "btn btn-large" })
    </div>
</div>
<script type="text/javascript">

    $(function () {

        var aoColumns = [];

        $('.table thead th').each(function () {
            if ($(this).hasClass('no-sort')) {
                aoColumns.push({ "bSortable": false });
            }
            else {
                aoColumns.push(null);
            }
        });

        $(".table").dataTable({
            "oLanguage": {
                "sSearch": "Filter courses:",
                "sEmptyTable": "No courses found!"
            },
            "aaSorting": [[1, "asc"]],
            "bPaginate": false,
            "aoColumns": aoColumns
        });
    });
</script>
