﻿@model CbuRetentionAlert.Web.ViewModels.NewAlertViewModel
@{
    ViewBag.Title = "Step 3 - Complete the retention alerts";
}
<div class="row">
    <div class="span9">
        <span class="badge">Step 1</span>&nbsp; <span class="badge">Step 2</span>&nbsp;
        <span class="badge badge-info">Step 3</span>&nbsp;
        <h2>
            Complete the retention alerts listed below.</h2>
    </div>
</div>
<hr />
@using (Html.BeginForm("alertsubmitted", "alert", FormMethod.Post, new { @name = "frmPost", @id = "frmPost" }))
{
    <input type="hidden" name="course" value="@Model.CurrentCourse" />
    @Html.DisplayFor(x => x.NewRetentionAlert, "RetentionAlert")
    <div class="row">
        <div class="span12" style="text-align: right; margin-top: 10px;">
            @Html.ActionLink("Previous Step", "newstep2", "alert", new { @c = Model.CurrentCourse, @p = (!string.IsNullOrEmpty(Model.PreviousStep) ? Model.PreviousStep : string.Empty) }, new { @class = "btn btn-large", @onclick = "showProcessing();" })
            &nbsp;&nbsp;<a href="#" id="lnkSubmit" class="btn btn-primary btn-large">Submit</a>
        </div>
    </div>
}
<script type="text/javascript">

    var currentDateObj;

    $(function () {

        $('.datepicker').datepicker().on('changeDate', function (ev) {
            currentDateObj = ev;
            $(ev.target).datepicker('hide');
        });

        $('#lnkSubmit').click(function () {

            //check required fields

            var isValid = true;
            var fieldToFocus = null;
            var isCommentsToLong = false;

            $('input[type=text].required').each(function () {

                if ($(this).val() == '') {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {

                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            $('textarea.txtComments').each(function () {

                if ($(this).val().length >= 500) {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    isCommentsToLong = true;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {

                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            $('select.required').each(function () {

                if ($(this).val() == '') {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;
                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {
                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            $('input[type=radio].required').each(function () {



                if (!$("input[name='" + $(this).attr('name') + "']:checked").val()) {

                    if (fieldToFocus == null) {
                        fieldToFocus = $(this);
                    }
                    isValid = false;

                    $(this).parent().prev().children().addClass("error");
                }
                else {
                    if ($(this).parent().prev().children().hasClass("error")) {
                        $(this).parent().prev().children().removeClass("error");
                    }
                }
            });

            if (isValid) {
                showProcessing();

                document.frmPost.submit();
            }
            else {
                $('html, body').animate({
                    scrollTop: $(fieldToFocus).offset().top - 100
                }, 750);

                setTimeout(function () {

                    $().toastmessage('showToast', { sticky: false, text: 'Please complete all the required fields, then try again.', type: 'warning', position: 'middle-center', stayTime: 7500 });
                }, 500);

                if (isCommentsToLong) {
                    setTimeout(function () {
                        $().toastmessage('showToast', { sticky: false, text: 'Oops, your comment is longer than 500 characters and cannot be saved.  Please fix the comment(s) highlighted in red and then try again.', type: 'warning', position: 'middle-center', stayTime: 15000 });
                    }, 500);

                }

                return false;
            }

        });
    });
</script>
