﻿body
{
    font-family: 'Cuprum' ,sans-serif;
    padding: 60px 0 40px 0;
    /*background: url('images/bg.jpg') repeat top left;*/
}

h1, h2, h3, h4, h5 {text-shadow:0 1px #fff;}

.validation-summary-errors {color: #cc0000;}
a:hover {text-decoration: none;}

.span8 {text-align: center;}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 100px; /* width of the spinner gif */
	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
#mask
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90000;
    background-color: #aaa;
    display: none;
}
.scrollTop
{
    position: fixed;
    top: 60px;
    right: 10px;
    border: 1px solid #888;
    color: #888;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
}
